<header class="header" id="header" [ngClass]="theme_mode">
    <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i></div>
    <mat-slide-toggle (change)="onChangeMode($event)">Night Mode</mat-slide-toggle>
    <div class="header_img"> <img src="https://i.imgur.com/hczKIze.jpg" alt=""> </div>
</header>
<div class="l-navbar" id="nav-bar" [ngClass]="theme_mode">
    <nav class="nav">
        <div> <a href="javascript:void(0)" class="nav_logo">
                <!-- <i class='bx bx-layer nav_logo-icon'></i> 
            <span
                    class="nav_logo-name">Hyperthinks</span> 
                </div> -->
                <img src="../../../../assets/logo.png" class="logo_img" alt="" />
            </a>
            <div class="nav_list">
                <a href="javascript:void(0)" (click)="gotoPage('/')" class="nav_link active">
                    <i class='bx bx-grid-alt nav_icon'></i>
                    <span class="nav_name">Dashboard</span>
                </a>
                <a href="javascript:void(0)" class="nav_link" (click)="gotoPage('/user')">
                    <i class='bx bx-user nav_icon'></i>
                    <span class="nav_name">Users</span>
                </a>
                <a href="javascript:void(0)" class="nav_link">
                    <i class='bx bx-message-square-detail nav_icon'></i>
                    <span class="nav_name">Messages</span>
                </a>
                <a href="javascript:void(0)" class="nav_link">
                    <i class='bx bx-bookmark nav_icon'></i>
                    <span class="nav_name">Bookmark</span>
                </a>
                <a href="javascript:void(0)" class="nav_link">
                    <i class='bx bx-folder nav_icon'></i>
                    <span class="nav_name">Files</span>
                </a>
                <a href="javascript:void(0)" class="nav_link">
                    <i class='bx bx-bar-chart-alt-2 nav_icon'></i>
                    <span class="nav_name">Stats</span>
                </a>
            </div>
        </div>
        <a href="javascript:void(0)" class="nav_link" (click)="logout()">
            <i class='bx bx-log-out nav_icon'></i>
            <span class="nav_name">SignOut</span>
        </a>
    </nav>
</div>